.skills {
    height: 95vh;

    .container {
        .row {
            .design {
                .designclick {
                    margin-top: 215px;
                }

                .designclick:hover {
                    color: $salmon;
                }

                .designclick:active {
                    color: $yellow;
                }

            }

            .charts {
                border: 10px $salmon solid;

                .container {


                    .devchart {
                        transition-duration: 5s;

                        .html {
                            .htmlchart {
                                height: 5px;
                                background-color: $blu;
                            }
                        }

                        .js {
                            .jschart {
                                height: 5px;
                                background-color: $yellow;
                            }
                        }

                        .php {
                            .phpchart {
                                height: 5px;
                                background-color: $kiss;
                            }
                        }

                        .dom {
                            .domchart {
                                height: 5px;
                                background-color: $pink;
                            }
                        }

                        .vue {
                            .vuechart {
                                height: 5px;
                                background-color: $lightblu;
                            }
                        }

                        .laravel {
                            .laravelchart {
                                height: 5px;
                                background-color: $arta;
                            }
                        }
                    }
                }

            }

            .dev {
                .devclick {
                    margin-top: 215px;
                }

                .devclick:hover {
                    color: $salmon;
                }

                .devclick:active {
                    color: $yellow;
                }
            }

        }
    }
}