$theme-colors: ("danger": #ea9de8, "warning": #e4ef09);

// $pink : #ea9de8;
$pink: #f2abb0;

$yellow: #e4ef09; 

$brightyellow: #e0fa00;

$kiss: #ad587a;

$darkkiss: #874861;

$lightblu: #add9e6;

$blu: #4d9ac2;

$salmon : #db818b;